{% if (item.mode|default('')) == 'cp' or ((item.mode|default('')) == '' and backup.mode == 'cp') %}
{{ item.cron|default('') or backup.cron }} LIMITED={{ item.limited|default('') or backup.limited or '1' }} {{ ('USE_DOCKER=' + (use_docker or item.is_docker|default(''))|string ) if (use_docker or item.is_docker|default('')) else '' }} CONTAINER_NAME={{ item.container_name|default('') or container_name }} {{ virtualenv.path }}/bin/python {{ virtualenv.app_dir + '/backup.py' }} -m 'cp' {{ '-i ' + (item.origin_db_path|default('') or backup.origin_db_path or '') }} {{ '-o ' + (item.backup_db_path|default('') or backup.backup_db_path or '') }} {{ '--docker_out ' + ( item.docker_db_path|default('') or backup.docker_db_path) if (item.docker_db_path|default('') or backup.docker_db_path) else '' }} 
{% elif (item.mode|default('')) == 'mongo' or ((item.mode|default('')) == '' and backup.mode == 'mongo') %}
{{ item.cron|default('') or backup.cron }} LIMITED={{ item.limited|default('') or backup.limited }} {{ ('USE_DOCKER=' + (use_docker or item.is_docker|default(''))|string ) if (use_docker or item.is_docker|default('')) else '' }} CONTAINER_NAME={{ item.container_name|default('') or container_name }} {{ virtualenv.path }}/bin/python {{ virtualenv.app_dir + '/backup.py' }} -m 'mongo' {{ '-H '  + (item.host|default('') or backup.host or '') }} {{ ('-d ' + ( item.database|default('') or backup.database)) if (item.database|default('') or backup.database) else '' }} {{ ('-c ' + ( item.collection|default('') or backup.collection)) if ( item.collection|default('') or backup.collection) else '' }} {{ '-o ' + ( item.backup_db_path|default('') or backup.backup_db_path or '') }} {{ '--docker_out ' + (item.docker_db_path|default('') or backup.docker_db_path) if (item.docker_db_path|default('') or backup.docker_db_path)  else '' }}
{% endif %}